<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01
					Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:error="http://apache.org/cocoon/error/2.1" xmlns:mom="http://www.mtmsolutions.com/mom" xmlns:fo="http://www.w3.org/1999/XSL/Format">
<head>
<META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta CONTENT="-1" http-equiv="Expires">
<meta CONTENT="no-cache" http-equiv="Cache-Control">
<meta CONTENT="no-cache" http-equiv="Pragma">
<title>Maintenance - The Map of Medicine</title>
<style>
BODY {font-family:Arial, verdana,  helvetica, sans-serif;font-size:76%;color:#000;}
TABLE {}
INPUT,SELECT,OPTION,TEXTAREA,*.fixedFont {font-family:arial, verdana,  helvetica, sans-serif  !important;font-size:12px !important;}
H1,H2,H3,H4 {font-weight:normal;color:#333;margin:0 0 10px 0;padding:0;}
H3,H4 {margin-bottom:5px;font-weight:bold;}
H2 SPAN.headerSmall {font-size:80%;}
H1,
.pageTitle {font-size:1.9em;color:#333333;padding-bottom:10px;}
P 	{color:#333;}
DFN {font-weight:bold;}
A {font-family:Arial;text-decoration:none;color:#06c;}
A:hover {font-family:Arial;text-decoration:none;color:#039;}
A.disabled,
A SPAN.disabled,
A.disabled:hover,
A SPAN.disabled:hover {color:#666;}
H2 {font-family:Arial;font-size:1.2em;font-weight:bold;color:#333;padding-bottom:5px;}
H3 {font-size:1.1em;}
H4,
.subpageTitle {font-family:Arial;font-size:1.1em;font-weight:bold;color:#333;padding-bottom:5px;}
.detailText {font-family:Arial;font-size:0.9em;color:#333333;}
TH,
*.standardTextTitle {font-family:Arial;font-size:1.1em;font-weight:bold;color:#333333;}
TD,
P,
LABEL,
*.standardText {font-family:Arial;font-size:1em;color:#000;}
*.standardText STRONG,
*.standardText B {color:#333;}
*.pagination {color:#666;}
SPAN.pagination A {text-decoration:underline !important;}
LABEL {font-weight:bold;padding-right:6px;}
.standardTextWhite {color:#ffffff;}
.standardTextHighlight {font-weight:bold;color:#666666;}
#pHomeVarientLink A, 
a.standardTextLink:link, 
a.standardTextLink:visited, 
a.highlightTextLink:link, 
a.highlightTextLink:visited  {font-family:Arial;text-decoration:none;color:#0066cc;}
a.standardTextLink:hover,a.highlightTextLink:hover {font-family:Arial;text-decoration:none;color:#003399;}
a.detailTextLink:link, a.detailTextLink:visited  {font-family:Arial;text-decoration:underline;color:#0066cc;}
a.detailTextLink:hover{font-family:Arial;text-decoration:underline;color:#003399;}
a.highlightTextLink:link, a.highlightTextLink:visited  {font-weight:bold;}
a.highlightTextLink:hover {font-weight:bold;}
.textActiveTab {font-family:Arial;font-size:1.1em;font-weight:bold;color:#333333;}
a.textInactiveTab:link, a.textInactiveTab:visited {font-family:Arial;font-size:1.1em;color:#0066cc;text-decoration:none;}
a.textInactiveTab:hover {font-family:Arial;font-size:1.1em;color:#003399;text-decoration:none;}
.tableHeader {font-family:Arial;font-size:1.1em;font-weight:bold;color:#333333;}
TH a:link, TH a:visited, 
a.tableHeaderLink:link, a.tableHeaderLink:visited {font-family:Arial;font-weight:bold;text-decoration:underline;color:#0066cc;}
TH a:hover,
a.tableHeaderLink:hover {font-family:Arial;font-weight:bold;text-decoration:underline;color:#003399;}
a.tableHighlightLink:link, a.tableHighlightHeaderLink:visited {font-family:Arial;font-size:1em;font-weight:bold;text-decoration:underline;color:#0066cc;}
a.tableHighlightLink:hover {font-family:Arial;font-size:1em;font-weight:bold;text-decoration:underline;color:#003399;}
.headerText {font-family:Arial;font-size:1em;font-weight:normal;color:#ffffff;}
.headerTextHighlight {font-family:Arial;font-size:1em;font-weight:bold;text-decoration:none;color:#ffffff;}
a.headerTextLink:link, a.headerTextLink:visited {font-family:Arial;font-size:1em;font-weight:bold;text-decoration:none;color:#ffffff;}
a.headerTextLink:hover {font-family:Arial;font-size:1em;font-weight:bold;text-decoration:none;color:#cccccc;}
#divToolBox #divQiBody #spanQiBody, 
#divToolBox #divQiBody #spanQiBody P,
#divToolBox #divQiBody #spanQiBody LI 
{color:#000;}
#divToolBox #divQiBody #spanQiBody P,
#divToolBox #divQiBody #spanQiBody UL, 
#divToolBox #divQiBody #spanQiBody OL
{margin-bottom:1.2em;}
*.error,*.alert	{color:#f00;}
*.bold 			{font-weight:bold;}
*.i				{font-style:italic;}
*.s				{font-size:90%;}
*.disabledLink 	{color:#888;text-decoration:underline;cursor:default;}
*.loose 		{line-height:150%;}
/*******************************************************************************************************/





#divBrandingBar 
{text-align:right;height:60px;}
#divBrandingBar A 				{float:left;}
#divBrandingBar #imgMOM 		{margin:18px 0 0 15px;}
#divBrandingBar #imgPartnership {margin:16px 14px 0 0;}
#divTitleToolBar 
{border-top:1px solid #C1D7DD;border-bottom:1px solid #cdcdcd;background-color:#3385D6;min-height:40px;}
#divTitleToolBar H1 
{margin:7px 300px 0px 15px;padding:0 0 6px 0;font-size:1.8em;color:#fff;}
#divTitleToolBar #divTools {position:absolute;top:5px;right:13px;}
#divTitleToolBar #divTools IMG,
#divTitleToolBar #divTools INPUT {margin-left:4px;}
#divTitleToolBar #divTools FORM {margin:0;padding:0;}
#divPersonalisationBar
{border-top:1px solid #E3DEBF;border-bottom:1px solid #F5F2D8;background-color:#FEFEED;padding:3px 0 0 0 ;}
#divPersonalisationBar P 
{margin:0;padding:3px 0 0 0;}
#divPersonalisationBar TABLE.layout TD {vertical-align:middle;}
#divPersonalisationBar TABLE.layout TR.rowHeight TD {height:20px;}
#divPersonalisationBar SPAN {color:#999;}
#divPersonalisationBar FORM {display:block;margin:0;padding:0px 0 0px 0;}
#divPersonalisationBar #pHomeVariantLink {margin-top:0;padding-top:0;}
#divPersonalisationBar #pVariantSwitch	{margin-top:0;padding:0;}
#divPersonalisationBar #pVariantSwitch form	{margin-top:0;padding:0 0 1px 0;}
#divNavigationBar 				{}
#divNavigationBar #divOpenMenu 	
{padding:4px 0 0 0 ;position:absolute;left:15px;}
#divNavigationBar #divSearch 	
{background-image :url(../i/header/bg_search_border.gif);background-repeat:no-repeat;padding:4px 12px 0 0;position:absolute;right:0;width:340px;text-align:right;}
#divNavigationBar #divSearch #inputFreeText
{width:200px;}
#divNavigationBar P 			
{padding:8px 330px 4px 68px;color:#06c;font-size:1.1em;margin:0;cursor:pointer;}
#divNavigationBar P SPAN 		{color:#999;}
#divNavigationBar P SPAN.stage 	{color:#666;}
#divDemobar 
{height:99px;background-color:#46BCBE;background-image:url(../i/header/m2m2_bg.gif);}
#demoHeader {float:left;width:auto;padding-left:17px;}
#demoHeader p, #demoHeader h2 {color:#fff;}
#demoLogo {float:right;width:168px;}
#divDemobar ul 
{position:absolute;top:77px;left:20px;list-style-type:none;margin:0 0 0 0;padding:0 0 0 0;height:20px;}
#divDemobar ul  li 
{padding-top:0;margin-top:-3px;float:left;color:#fff;}
#divDemobar ul  li.border
{border-right:1px solid white;padding-right:10px;} 
#divDemobar ul  li.leftpadding 
{padding-left:10px;}
#divDemobar #demoPhone SPAN,
#divDemobar ul  li span 
{color:#46bcbe;}
#demoPhone {background-color:#008585;}
#demoPhone a {color:#fff;}
#divDemobar ul  li a 
{padding:0;color:#fff;font-weight:bold;text-decoration:underline;}
#divDemobar ul  li a:hover 
{padding:0;color:#fff;font-weight:bold;text-decoration:underline;}
#divDemobar H3 {position:absolute;z-index:2;left:20px;top:16px;padding:0;margin:0;color:white;font-size:16px;}
#divDemobar P.intro {position:absolute;z-index:2;left:20px;top:38px;padding:0;margin:0;color:white;font-size:12px;}
#divDemobar #imageDemoLogo {margin-left:580px;margin-top:12px;margin-right:4px;float:right;}
#divDemobar #imageDemoButton {position:absolute;bottom:-22px;right:170px;}
#divDemobar #demoPhone {position:absolute;top:75px;right:12px;color:#fff;}
#divDemobar #demoPhone A {text-decoration:underline;}
#divTooltip_top {position:absolute;top:69px;left:40%;width:196px;height:98px;background:transparent url("../i/header/tooltip_top.gif") no-repeat;}
#divTooltip_side {position:absolute;top:259px;left:25%;width:198px;height:94px;background:transparent url("../i/header/tooltip_side.gif") no-repeat;}
#divTooltip_top p {padding:7px 10px 10px 14px;margin:0;}
#divTooltip_side p {padding:15px 10px 10px 23px;margin:0;}
#dynContent #divHomelinkBar
{position:relative;width:99%;}
#dynContent #divHomelinkBar P 
{position:absolute;right:0;padding:4px 0 0 0;margin:0;text-align:right;background-color:#E7ECF4;}
#divHomelinkBar
{position:static;width:auto;}
#divHomelinkBar P 
{position:static;padding:6px 15px 0 0;margin:0;text-align:right;background-color:#E7ECF4;}
#divNavigationBar FORM LABEL,
#divPersonalisationBar FORM LABEL
{color:#666;font-weight:normal;position:relative;top:-2px;}
#divNavigationBar FORM INPUT,
#divPersonalisationBar FORM INPUT
{}
SELECT.mr,
INPUT.mr
{margin-right:8px;}
SELECT,ml,
INPUT.ml
{margin-left:8px;}

/*******************************************************************************************************/

BODY 
{margin:0;padding:0;background-color  :#fff;}
A IMG {border:0 none;}
FORM 
{margin:0px;padding:0px;border:0px;}
FIELDSET {border:0 none;}
LI LI LI {list-style-type:circle}
DIV.content P {margin:0;padding:0;line-height:130%;}
P.pb {padding-bottom:3px;}
P.base {border-top:1px dashed #ccc;padding-top:10px;margin-top:24px;padding-bottom:10px;margin-bottom:0;}
DIV.displayWidth,
P.displayWidth {width:500px;}
P IMG.vab {vertical-align:bottom}
#divContent,
*.bg_light_blue
{background-color:#E7ECF4;}
#divContentTransparent DIV.content,
#divContent DIV.content 		{height:300px;}
#divContentTransparent DIV[class=content],
#divContent DIV[class=content] 	{height:auto;min-height:300px;}
*.sbp 		{padding:23px 15px 15px 17px}
*.sbpTop 	{padding-top:23px;}
*.sbpRight	{padding-right:15px !important;}
*.sbpBottom	{padding-bottom:15px !important;}
*.sbpLeft	{padding-left:17px !important;}
*.sborderTop 	{border-top:1px solid #DCDCDC}
*.sborderBottom {border-bottom:1px solid #DCDCDC}
#messages {padding:5px 10px 0px 0px;font-family:Arial, Verdana, Helvetica, sans-serif;font-size:11px;font-weight:bolder;color:#ffffff;float:right;}
DIV.minheight {float:right;width:1px;height:260px;}
#divGraphicSpacer
{border-top:1px solid #DCDCDC;background-color:#F3F1E7;height:28px;}
#tabstrip {float:left;width:100%;background:#ffffff url("../i/tabs/tab_w_bg.gif") repeat-x bottom;line-height:normal;}
#tabstrip UL {margin:0 0 0 0;padding:0;list-style:none;}
#tabstrip LI {float:left;background:url("../i/tabs/tab_w_left.gif") no-repeat left top;margin:0;padding:0 0 0 6px;border-bottom:1px solid #cccccc;}
#tabstrip LI A {display:block;background:url("../i/tabs/tab_right.gif") no-repeat right top;padding:5px 10px 4px 5px;text-decoration:none;line-height:14px;}
* HTML:lang(en) #tabstrip A {float:left;}
#tabstrip #selected, 
#tabstrip .selected 
{background-position:0 -27px;border-width:0;}
#tabstrip #selected A, 
#tabstrip .selected A
{background-position:100% -27px;padding-bottom:5px;}
.displayOn {display    :block;}
.displayOff {display    :none;}
.sectionTop {margin-top:10px;}
.sectionLeft {margin-left:10px;}
.sectionRight {margin-right:10px;}
.sectionBottom {margin-bottom:10px;}
.textMargin {margin-bottom:3px;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
*.minPageWidth {width:720px;font-size:1px;height:0px;}
TABLE.data {border-collapse:collapse;}
TABLE.data TR.header TH {border-bottom:1px dashed #888;padding-bottom:8px;}
TABLE.data TR.total TD {background-color:#ddd;font-weight:bold;}
TABLE.data TH {text-align:left;padding:5px 12px 4px 0px;color:#444;}
TABLE.data TD{padding:2px 12px 4px 0px;vertical-align:top;}
TABLE.data TD.vac{vertical-align:center;}
TABLE.fullwidth {width:100%;}
TABLE.feedback {width:690px;}
TABLE.layout {border-collapse:collapse;width:100%;}
TABLE.layout TD {vertical-align:top;padding:0;margin:0;}
*.standardPadding {margin:20px 60px 0 12px;}
*.standardBlock {padding-bottom:20px;}
DIV.standardWidth {width:500px;}
HR.whiteDashed {color:white;border:0 none;padding:0;height:1px;border-bottom:1px dashed #999;}
HR.introMargin {margin:10px 0 6px 0;}
TABLE.vat TD,
TR.vat TD,
*.vat 			{vertical-align:top;}
*.vab 			{vertical-align:bottom;}
*.tar 			{text-align:right;}
*.tac			{text-align:center;}
*.fr			{float:right;}
*.fl			{float:left;}
DIV.clear 		{clear:both;height:1px;font-size:1px;} 
DIV.clear00 	{clear:both;height:0;font-size:1px;overflow:hidden;}
*.cursorHand	{cursor:pointer;}
IMG.inline		{vertical-align:middle;}
*.relative		{position:relative;}
IFRAME.hiddenIframe {position:absolute;left:-1px;width:1px;height:1px;}
TR.marginBottomWhite TD,
TR.marginBottomWhite TH {border-bottom:3px solid white;}
*.pr01			{padding-right:12px;}
*.pl01			{padding-left:12px;}
*.pb01			{padding-bottom:12px !important;}
*.pb02			{padding-bottom:6px !important;}
*.leftCol01		{width:300px;}
*.mb01			{margin-bottom:12px;}
*.mb02			{margin-bottom:3px;}
*.clearBottom	{margin-bottom:0;padding-bottom:0;}
IMG.urgent		{margin-left:14px;}
*.buttonCBP		{padding-bottom:1px;}
*.hidden 		{display:none;}
*.normal {font-weight:normal;}



#divFooter 
{border-top:1px solid #dcdcdc;height:60px;padding:0 15px 0 17px;}
#divFooter P 
#{padding:11px 0 10px 0;background-image:url(/404/medic_to_medic.gif);background-repeat:no-repeat;background-position:100% 50%;margin:0;font-size:0.9em;}
#divFooter P SPAN {color:#ccc;}

</style>
<style media="print">
					*.noprint {visibility: hidden; display: none !important;}
					</style>
</head>
<body>
<div id="divBrandingBar">
<!-- branding-bar -->
<a><img alt="The Map of Medicine" height="25" width="193" src="/404/map_of_medicine.gif" id="imgMOM"></a>
<img alt="in partnership with National Library for Health, NHS" src="/404/in_partnership_with_nhs.gif" id="imgPartnership"></div>
<!-- title-tool-bar -->
<div class="relative" id="divTitleToolBar">
<h1>Maintenance</h1>
<div id="divTools">

</div>
<div class="minPageWidth">&nbsp;</div>
</div>
<div class="sbp">
<div class="standardWidth">
<div class="minheight"></div>

			
			
<p>
<%= @holding_page_msg %>
</p>
		
</div>

								&nbsp;

							</div>
<div id="divGraphicSpacer"></div>
<div id="divFooter">
<p>

</p>
</div>
</body>
</html>
