<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{HH:mm:ss} %-5p %l - %m%n" />
			<!--
				<param name="ConversionPattern"
				value="%d{HH:mm:ss,SSS} %-5p [%t] %C{2} (%F:%L) - %m%n" />
			-->
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMax" value="info" />
		</filter>
	</appender>

	<appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{HH:mm:ss} %-5p %l - %m%n" />
			<!--
				<param name="ConversionPattern"
				value="%d{HH:mm:ss,SSS} %-5p [%t] %C{2} (%F:%L) - %m%n" />
			-->
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="warn" />
		</filter>
	</appender>

	<appender name="FILE_LOG" class="org.apache.log4j.FileAppender">
		<param name="file" value="logs/script.log" />
		<param name="append" value="false" />
		<param name="encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{HH:mm:ss,SSS} %-5p (%F:%L) - %m%n" />
			<!--
				<param name="ConversionPattern"
				value="%d{HH:mm:ss,SSS} %-5p [%t] %C{2} (%F:%L) - %m%n" />
			-->
		</layout>
	</appender>

	<category name="org">
		<priority value="warn" />
	</category>
	<category name="com">
		<priority value="warn" />
	</category>
	<category name="net">
		<priority value="warn" />
	</category>
	<category name="com.day.crx">
		<priority value="error" />
	</category>	
	<category name="com.oyster.mom">
		<priority value="info" />
	</category>
	<root>
		<priority value="info" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDERR" />
		<appender-ref ref="FILE_LOG" />
	</root>

</log4j:configuration>
