#divToolBox
{height:567px;}
#divToolBox #divTabs 
{height:567px;}
#divToolBox #divSearchBar
{width:308px;}
#divToolBox DIV.unit 
{height:565px;}
#divToolBox DIV.unit 		{width:308px;}
#divToolBox TEXTAREA 		{width:278px;}
#divToolBox #divNotes TEXTAREA.readonly {width:284px;}	
* HTML #divToolBox #divNotes TEXTAREA.readonly {width:268px;}
#divToolBox #divLocalInfo #divLiBody, 			
#divToolBox #divQuickInfo #divQiBody 			
{height:200px;}
#divToolBox #divQuickInfo #divCePop		
{width:228px;}
#divToolBox #divSearchPanelForm,
#divToolBox #divSearchPanelCE, 
#divToolBox #divSearchPanel 
{width:430px;}
#divToolBox #divSearchPanelCE IFRAME, 
#divToolBox #divSearchPanel IFRAME 
{width:430px;}
#divToolBox #divSearchPanel #iframeSearchResults {height:525px;}
#divToolBox #divSearchPanelCE #iframeSearchResultsCE {height:545px;}
#divToolBox #divSearchPanelForm *.innerBlock {width:380px;}
#divToolBox #divAdminInfoRevert {width:739px;}
#divToolBox #divAdminInfoRevert DIV.revertwidth {width:340px;}
